# Intellij
.idea/
out/

# Gradle
.gradle/
build/

# Docker
.docker/

# Ability Build
abilities/sample/build/
abilities/stone-strike/build
abilities/stealth/build
abilities/trident-strike/build

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
!gradle-wrapper.properties